// Customize our own hotspot
@use "../abstracts" as a;

model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #c3e8fd;
  margin: 0 auto;
}

.hotspot-image {
  height: 150px;
  width: 150px;
}

@keyframes swoop {
  0% {
    box-shadow: inset 0 0 0 0 a.$blue, inset 0 0 0 0 a.$swoop-bg;
  }
  50% {
    box-shadow: inset 0 0 0 0 a.$blue, inset 0 0 0 15px a.$swoop-bg;
  }
  100% {
    box-shadow: inset 0 0 0 15px a.$blue, inset 0 0 0 15px a.$swoop-bg;
  }
}

// Customize our own hotspot
// .Hotspot {
//   background: url(../images/hotspot.svg) center no-repeat;
//   border: 0px;
//   width: 45px;
//   height: 38px;
//   display: none;
//   transition: all 1s ease-in-out;
// }

.Hotspot {
  border-radius: 50%;
  width: 18px;
  height: 22px;
  animation: swoop 1s infinite;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.71, 0.13, 1, 0.71);
  background-color: a.$blue;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #6482a4;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: white;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation img {
  height: 100px;
  width: 100px;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: powderblue;
}

/* AR Rules */

#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #920b0b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
