@use "../abstracts" as a;

#colours h3 {
  font-family: a.$heading-font-family;
  font-weight: 600;
  font-size: a.$body-font-size;
  margin-bottom: 20px;
}

.colour-circle ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
}

#colours {
  margin-bottom: 30px;
}
.colour-circle ul li {
  list-style: none;
  list-style-type: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.colour-circle ul li:nth-child(1) {
  background-color: var(--color-1, #a9d9ea);
}

.colour-circle ul li:nth-child(2) {
  background-color: var(--color-2, #f8f8f8);
}

.colour-circle ul li:nth-child(3) {
  background-color: var(--color-3, #383838);
}

.colour-circle ul li:nth-child(4) {
  background-color: var(--color-4, #b2e6c5);
}

.front-view {
  background-color: a.$box-color;
  height: 320px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.side-view {
  background-color: white;
  height: 320px;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.side-view img {
  display: grid;
  max-height: 100%;
  position: relative; /* Add position: relative to establish stacking context */
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.buy {
  opacity: 0;
  background-color: #37bf60;
  width: 75px;
  height: 25px;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: -20px;
  z-index: 2;
}

.buy p {
  font-weight: 500;
}

.side-view:hover .buy {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #colours h3 {
    font-size: a.$body-heading-font-size;
  }

  .colour-circle {
    margin-top: 120px;
  }

  .colour-circle ul li {
    width: 43px;
    height: 43px;
  }

  .front-view {
    height: 320px;
  }

  .side-view {
    height: 320px;
  }
}

@media screen and (min-width: 1200px) {
  #colours h3 {
    font-size: a.$desktop-heading-font-size;
  }

  .colour-circle {
    margin-top: 180px;
  }
  .colour-circle ul li {
    width: 70px;
    height: 70px;
  }
}
