@use "../abstracts" as a;

#footer-con {
  background-color: a.$grey-color;
}

#footer-con h3 {
  font-family: a.$heading-font-family;
  font-size: 15px;
}

#logo-footer {
  margin-top: 30px;
  height: 60px;
  max-width: 70%;
}

.newsletter input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
}

.newsletter {
  margin-bottom: 50px;
}
.newsletter input[type="submit"] {
  margin-top: 10px;
  border: none;
  background-color: powderblue;
  transition: all 200ms ease-in;
}

.retail ul,
.quicklinks ul,
.contact ul {
  margin-top: auto;
  list-style-type: none;
  padding-left: 0;
}

.retail ul li a,
.quicklinks ul li a,
.contact ul li a {
  text-decoration: none;
  color: #000;
}

.retail ul li,
.quicklinks ul li,
.contact ul li {
  font-size: 15px;
  margin-bottom: 20px;
}

#footer-con h4 {
  font-family: a.$heading-font-family;
  font-size: 15px;
  margin-bottom: 20px;
  color: #000;
  opacity: 40%;
}

.line {
  width: 100%; /* Set the width of the line to 100% of its container */
  height: 2px; /* Set the height to control the thickness of the line */
  background-color: #000; /* Set the line color (e.g., black) */
  margin: 10px 0; /* Add margin to control spacing around the line */
}

#footer-icons ul {
  display: flex;
  list-style: none;
  padding: 0px;
  flex-wrap: wrap;
}

#footer-icons ul li {
  font-size: 20px;
  margin-right: 30px;
}

#logo-footer {
  margin-top: 30px;
  height: 60px;
  max-width: 70%;
}

.retail-con {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  #footer-icons ul {
    display: flex;
  }

  .retail ul li,
  .quicklinks ul li,
  .contact ul li {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  #footer-icons ul li {
    margin-right: 40px;
  }

  .newsletter-con,
  .retail-con,
  .quicklinks-con,
  .contacts-con {
    grid-row: 2/2;
    margin-top: auto;
  }

  .retail-con {
    margin-top: 0px;
  }
}
