@use "../abstracts" as a;

#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border: 0;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #000;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #9a2018;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

.book-now {
  background-color: #9a2018;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.book-now:hover {
  box-shadow: inset 0px -120px 0px rgb(196, 28, 28);
}

#book-now-header {
  display: none;
}

#logo {
  margin-bottom: 20px;
}

#logo img {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #sticky-nav-con {
    position: sticky;
    background-color: #fff;
    top: 0px;
    // border-bottom: solid 1px #c3c3c3;
    z-index: 1;
    /* had to set z-index as css filters was causing images to overlap, see below */
  }

  #button {
    display: none;
  }

  #logo {
    margin-top: 20px;
    order: -1;
  }

  #burger-con {
    display: block;
    font-size: 12px;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #main-nav ul li a {
    display: inline;
  }

  #burger-con ul li {
    font-size: 15px;
    font-family: a.$body-font-family;
    font-weight: bold;
    margin-right: 40px;
  }

  #burger-con ul li:last-child {
    margin-right: 0;
  }

  #main-nav {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 30px;
  }

  #book-now-header {
    display: flex;
    margin-right: -16px;
  }

  #book-now-hero {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #main-header {
    height: 80px;
  }

  #main-nav {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25px;
  }

  #burger-con ul li {
    margin-right: 25px;
    font-size: 16px;
  }

  #burger-con {
    margin-top: 28px;
  }

  .book-now {
    font-size: 18px;
  }
}
