@use "../abstracts" as a;
#sticky-nav-con {
  background-color: #fff;
}
#header-icons a {
  text-decoration: none;
  color: #000;
}
#main-nav {
  display: flex;
  justify-content: space-between; /* Ensures the button is on the right */
  align-items: center;
}

#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border: 0;
}
#main-nav button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  position: absolute;
  margin-top: 40px;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
  z-index: 9999;
  display: none;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #000;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: a.$primary-color;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

#logo {
  margin-bottom: 20px;
}

#logo img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#header-icons ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header-icons ul li {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #sticky-nav-con {
    // position: sticky;

    top: 0px;
    // border-bottom: solid 1px #c3c3c3;
    z-index: 1;
    /* had to set z-index as css filters was causing images to overlap, see below */
  }

  #button {
    display: none;
  }

  #logo {
    margin-top: 20px;
    order: -1;
  }
  #logo img {
    width: 60%;
    display: block;
    margin: 0;
  }

  #burger-con {
    display: block;
    font-size: 12px;
    position: relative;
    margin-top: 20px;
    height: 0;
    top: 0;
    left: 0;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #main-nav ul li a {
    display: inline;
  }

  #burger-con ul li {
    font-size: 15px;
    font-family: a.$body-font-family;
    // font-weight: bold;
    margin-right: 20px;
  }

  #burger-con ul li:last-child {
    margin-left: auto;
    margin-right: 0px;
  }

  #main-nav {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 30px;
  }

  #header-icons {
    margin-top: 14px;
    margin-bottom: 2%;
  }

  // #header-icons li:first-child {
  //   margin-left: 0px;
  // }
  // #header-icons ul li {
  //   margin-right: 21px;
  // }
  // #header-icons li:last-child {
  //   margin-left: auto;
  //   margin-right: 0px;
  // }
}

@media screen and (min-width: 1200px) {
  #main-header {
    height: 80px;
  }

  #main-nav {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 60px;
  }

  #burger-con ul li {
    margin-right: 50px;
    font-size: 16px;
  }

  #burger-con ul li:last-child {
    margin-left: auto;
    margin-right: 0px;
  }
  #burger-con {
    margin-top: 28px;
  }

  // #header-icons ul li {
  //   margin-right: 55px;
  // }
}
