@use "../abstracts" as a;

#projects h3,
h4 {
  font-family: a.$heading-font-family;
  font-size: a.$mobile-about-heading-font-size;
  font-weight: normal;
}

#projects h4 {
  display: none;
}

.case {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.case-li h5 {
  font-family: a.$body-font-family;
  font-size: a.$mobile-heading-hero-font-size;
  justify-content: center;
}
.case-li {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: a.$box-color;
  color: rgb(27, 27, 27);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  justify-content: center;
}

.content2 {
  text-align: left;
  order: -1;
  flex: 0;
}

// .case-li .content2 {
//   flex: 1 1 auto;
// }

.case-li footer {
  text-align: right;
  margin-top: auto;
}

.case-li footer a {
  background-color: a.$grey-color;
  padding: 10px;
  border-radius: 20px;
}

.case-li footer a {
  text-decoration: none;
  color: #000;
}

.view-more {
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #projects h3,
  h4 {
    font-size: a.$strategy-font-size;
    font-weight: normal;
  }
  #projects h3 span {
    display: none;
  }
  #projects h4 {
    display: block;
    text-align: right;
  }

  #projects p {
    font-size: a.$mobile-body-font-size;
    font-weight: normal;
    line-height: 30px;
  }

  .case-li {
    height: 370px;
  }

  .case {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .case-li {
    height: 600px;
  }

  .case-li h5 {
    font-size: a.$strategy-font-size;
  }
}
