@use "../abstracts" as a;

#spotify-con {
  margin-top: 40px;
  margin-bottom: 40px;
}

.spotify-column {
  background-color: white;
}

.spotify-div {
  border-radius: 10px;
  padding: 30px;
  border-radius: 10px;
}

.spotify-div h3 {
  font-size: a.$mobile-about-heading-font-size;
  font-weight: 600;
}
