#outerShell {
  display: none;
}

.xray-slider {
  margin-bottom: 40px;
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }

  #outerShell {
    display: block;
    max-width: 1200px;
    border: solid 1px #666;
  }

  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 650px;
  }

  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 650px;
  }

  .image-right {
    background: url(../images/earbud-x-ray.jpg) no-repeat;
    background-size: contain;
    // background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

  .image-left {
    background: url(../images/earbud.jpg) no-repeat;
    background-size: contain;
    // background-position: center center;
    background-attachment: fixed;
    width: 50%;

    height: 100%;
  }

  .image-drag {
    background-color: #1b1b1b;
    left: 50%;
    width: 2px;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: -9px;
      top: 50%;
      margin-top: -10px;
      background-color: white;
      transform: rotate(45deg);
      transition: all 0.1s ease-in-out;
    }
    &:after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      left: -5px;
      top: 50%;
      margin-top: -6px;
      background-color: white;
      transform: rotate(45deg);
      transition: all 0.1s ease-in-out;
    }
  }

  .image-drag:active:before,
  .image-drag:hover:before {
    background-color: black;
    border: 2px solid white;
  }

  .image-drag:active:before,
  .image-drag:focus:before,
  .image-drag:active:after,
  .image-drag:hover:before,
  .image-drag:hover:before,
  .image-drag:hover:after {
    background-color: black;
  }
}
